RewriteRule ^/beauty(.*)$    /index.html [L]
RewriteRule ^/fashion(.*)$    /index.html [L]
RewriteRule ^/travel(.*)$ /index.html [L]
RewriteRule ^/lifestyle(.*)$ /index.html [L]
RewriteRule ^/about(.*)$ /index.html [L]
RewriteRule ^/login(.*)$ /index.html [L]
RewriteRule ^/admin/create(.*)$ /index.html [L]
RewriteRule ^/admin/edit(.*)$ /index.html [L]