.root {
    flex-grow: 1;
    background: white;
    margin-bottom: 5px;
}

.headerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    flex-grow: 1;
}


.toolbar {
    justify-content: space-between;
    overflow-x: hidden;
    background: black;
    color: white;
    top: 0;
}

.toolbarLink {
    padding: 1px;
    flex-shrink: 0;
}


.toolbarLink:hover {
    color: pink;
    text-decoration: none !important;
  }
  

.sticky {
    position: fixed !important;
    top: 0;
    z-index: 10;
  }

  .paper {
    padding: auto;
    margin: auto;
    text-align: center;
    background: black !important;
    color: white !important;
  }