.root {
    flex-grow: 1;
    background: white;
    margin-bottom: 50px;
}

.headerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    flex-grow: 1;
}


.toolbar {
    justify-content: space-between;
    overflow-x: hidden;
    background: black;
    color: white;
    top: 0
}

.toolbarLink {
    padding: 1px;
    flex-shrink: 0;
}
  

.sticky {
    position: fixed !important;
    top: 0;
    z-index: 10;
  }
